/* ------ Fonts ------ */
@import url("fonts.css");
/* ------ Browser Resets ------ */
@import url("normalize.css");
/* ------ Variables ------ */
/* universal palette */
/* off black */
/* universal color for links*/
/* universal color for hover links*/
/* universal color for visited links*/
/* ------ Setting HTML Default ------ */
html {
  font-size: 16px;
  box-sizing: border-box;
  background-color: #c1d0dc;
  color: rgb(47, 47, 53);
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* ------ HTML Element Selectors ----- */
h1, h2 {
  font-family: "kanit";
  letter-spacing: 2px;
}

h2 {
  color: #043c6c;
  margin-top: 10px;
  text-decoration: underline;
  text-align: center;
}

h3 {
  font-family: "kanit";
  letter-spacing: 0.3em;
  margin-top: 10px;
  text-decoration: underline;
  text-shadow: 0 0 2px black;
}

body {
  font-family: "Ubuntu", sans-serif;
}

header {
  box-shadow: 0px 12px 10px -3px ivory;
}

header, footer {
  /* image from https://pngtree.com/  edited on photopea*/
  background-image: url("../images/anime_cyber.png");
  background-color: #043c6c;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-shadow: 0 0 2px black;
  color: azure;
}

main {
  display: flex;
  padding: 20px;
}

footer {
  box-shadow: 0px -12px 10px -3px ivory;
}

footer > p {
  margin: 0;
}

/* ------ .class Selectors ------ */
.keys2 {
  width: 50px;
  height: 50px;
}

.diceBattling {
  display: flex;
  justify-content: center;
  gap: 20%;
  padding-top: 50px;
}

.diceContainer {
  display: flex;
  justify-content: center;
  gap: 10%;
}

/* ------ #id Selectors ------ */
#gameEndCredits div div h4 {
  font-size: larger;
  text-decoration: underline;
  color: azure;
  margin-bottom: 10px;
}
#gameEndCredits div div p {
  margin-top: 0;
  color: azure;
  margin-bottom: 5px;
}

/* ------ #id Selectors ------ */
#gameInstruction {
  height: 900px;
  width: 700px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: black solid 10px;
  background: url("../images/wall_hole_1.png");
  background-size: 100px;
  display: inline;
}

#gameEndCredits {
  height: 900px;
  width: 700px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: black solid 10px;
  background: url("../images/wall_hole_1.png");
  background-size: 100px;
  display: none;
}

/* possible mixins2 */
#instructContainer, #endCreditsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

/* possible mixins */
#instructions, #endCredits {
  background: black;
  width: 600px;
  height: 750px;
  color: azure;
  padding: 5%;
}

#endCredits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#price {
  padding-top: 30px;
  width: 300px;
  padding-left: 20%;
}

#instBtn, #endCreditBtn {
  margin-top: 3%;
}

#instBtn *, #endCreditBtn * {
  height: 50px;
  width: 100px;
  font-size: larger;
  font-weight: bolder;
}

#upperKeys2, #midKeys2, #lowerKeys2 {
  display: flex;
  width: 800px;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
}

#dungeonCrawler {
  position: relative;
  height: 800px;
  left: 3.5%;
}

#floor {
  position: absolute;
}

#character {
  position: absolute;
}

/* Dice battle */
#diceBattle {
  height: 900px;
  width: 700px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: black solid 10px;
  background: url("../images/wall_hole_1.png");
  background-size: 100px;
  display: none;
}

/* possible mixins2 */
#diceBattleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

/* possible mixins */
#diceCharBattle {
  background: black;
  width: 500px;
  height: 400px;
  display: inline;
}

/* possible mixins */
#diceYouWin {
  background: black;
  width: 500px;
  height: 400px;
  display: none;
}

/* possible mixins */
#diceYouLost {
  background: black;
  width: 500px;
  height: 400px;
  display: none;
}

#diceStats {
  display: flex;
  background: rgb(122, 104, 81);
  margin: 5% 5%;
}

#playerStats, #monsStats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#diceBtnContainer {
  display: flex;
  gap: 10%;
  justify-content: center;
  width: 300px;
}

#diceBtnContainer * {
  height: 50px;
  width: 100px;
  font-size: larger;
  font-weight: bolder;
}

.diceChar {
  width: 20%;
  height: auto;
}

#diceMons {
  transform: scaleX(-1);
  width: 30%;
  height: auto;
}

#hangMan {
  height: 900px;
  width: 700px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: black solid 10px;
  background: url("../images/wall_hole_1.png");
  background-size: 100px;
  display: none;
}

#hangManContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

#HangManWordGuess {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hangManAnime {
  margin-top: 10%;
}

#word-container {
  font-size: 3.5em;
  margin-top: 10%;
}

/* Mixin3 */
#hangManUnlocking {
  background: black;
  width: 500px;
  height: 400px;
  display: inline;
  color: white;
}

#hangManUnlock {
  background: black;
  width: 500px;
  height: 400px;
  display: none;
}

#hangManDead {
  background: black;
  width: 500px;
  height: 400px;
  display: none;
}

#keyBoard {
  margin: 5% 5%;
}

#upperKeys2, #midKeys2, #lowerKeys2 {
  display: flex;
  width: 500px;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
}

#hangManBtnContainer * {
  height: 50px;
  width: 100px;
  font-size: larger;
  font-weight: bolder;
}

#wrapper {
  max-width: 900px;
  margin: 0 auto;
  background-color: azure;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 5px black;
  transition: opacity 1s;
}

/* ------ #responsive to screen ------ */